.App {
  background-image: url("./assets/tile_70x70.png");
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.combatScreen {
  background-image: url("./assets/tile_70x70.png");
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.board {
  position: relative;
  border: 15px solid transparent;
  border-image: url("./assets/border.png") 16;
  border-image-repeat: round;
}

div.board {
  position: absolute;
}

.abilities {
  padding: 10px;
  background-color: white;
  color: black;
  border: white;
  border-radius: 5px;
}

.combatFrameLeft {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 70px;
}
.combatFrameLeft > img {
  display: block;
  margin: auto;
}

.combatFrameRight {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 70px;
}

.combatFrameRight > img {
  display: block;
  margin: auto;
}

.abilities > div:hover {
  color: red;
  cursor: pointer;
}

#playerHealthBar {
  background-color: black;
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  padding: 3px;
  margin-bottom: 15px;
}

#playerHealthBar > div {
  background-color: green;

  height: 10px;
  border-radius: 10px;
}

#enemyHealthBar {
  background-color: black;
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  padding: 3px;
  margin-bottom: 15px;
}

#enemyHealthBar > div {
  background-color: red;

  height: 10px;
  border-radius: 10px;
}

.combatLog {
  max-height: 15em;
  overflow: scroll;
}
